/* :root {
    --green0: #e3ecd7;
    --green1: #6b9a71;
    --green2: #457a5f;
    --green3: #255056;
    --blue0: #b4ecf3;
    --blue1: #86bec6;
    --blue2: #4e9ca6;
    --blue3: #366c73;
    --blue4: var(--green3);
    --blue5: #1f4347;
    --blue6: #13282b;
    --purple0: #e3c5cf;
    --purple1: #b79fbb;
    --purple2: #8e8bb6;
    --purple3: #5f6791;
    --purple4: #8d5180;
    --purple5: #b67388;
    --yellow0: #fffef9;
    --yellow1: #efdbb3;
    --yellow2: #e1ae98;
    --black: var(--blue6);
    --white: var(--yellow0);
} */

canvas {
  height: 100%;
  width: 100%;
  position: absolute;
  image-rendering: pixelated;
  object-fit: contain;
  pointer-events: none;
}

html, body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: #13282b;
}

body {
  max-width: 600px;
  position: relative;
}

i {
  position: absolute;
  font-size: 3rem;
  pointer-events: none;
}

#unicorn {
  transition: all 50ms ease-out;
}

section {
  height: 100%;
  width: 100%;
}

section:not(.show) {
  display: none !important;
}

#menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

#gameGrid {
  width: 100%;
  aspect-ratio: 1;
}
